.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__form-content {
  background-color: #fff;
  max-width: 440px;
  max-height: 376px;
  width: 100%;
  border-radius: 20px;
  padding: 30px 30px;
  font-size: 16px;
  font-weight: 700;
}

.modal__form-close {
  background: none;
  border: none;
  position: absolute;
  padding: 0;
  margin-left: 420px;
  margin-bottom: 356px;
}

.modal__form-close:hover {
  cursor: pointer;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  gap: 10px;
}

.modal__button-submit {
  margin-top: 20px;
  width: 124px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.modal__button-submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__button-submit:active {
  background-color: rgba(0, 0, 0, 1);
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000;
}

.modal__label {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.modal__button-2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  height: 40px;
  padding: 0;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
}
