.app {
  background: #f3f3f3;
  min-height: 100vh;
  min-width: 100vh;
}

.app__name {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.app__url {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.app__name-input {
  border: none;
  border-bottom: solid 1px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.app__image-input {
  border: none;
  border-bottom: solid 1px;
  margin-top: 5px;
}

.app__buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
