.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 32px 40px;
}

.header__info {
  font-weight: 700;
  font-size: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__name {
  font-weight: 700;
  font-size: 20px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__avatar-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__button {
  background-color: #f3f3f3;
  border: none;
  font-weight: 700;
  font-size: 20px;
}

.header__button:hover {
  cursor: pointer;
}
