.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__form-content {
  background-color: #fff;
  max-width: 440px;
  max-height: 376px;
  width: 100%;
  border-radius: 20px;
  padding: 30px 30px;
  font-size: 16px;
  font-weight: 700;
}

.modal__form-close {
  background: none;
  border: none;
  position: absolute;
  padding: 0;
  margin-left: 420px;
  margin-bottom: 356px;
}

.modal__form-close:hover {
  cursor: pointer;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 440px;
}

.modal__button-submit {
  padding: 0;
  margin-top: 20px;
}
